* {
    padding: 0vw;
    margin: 0vw;
    list-style-type: none;
    background-repeat: no-repeat;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FBF6F3;
}

/*Header*/

header {
    margin-left: 9.79vw;
    margin-top: 1.5vw;
    background-color: #fbf6f3;
    height: 8vw;
    width: 80.63vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Comfortaa";
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88vw;
    border-top: none;
    border-radius: 0 0 3vw 3vw;
    border-left: 3px solid #424530;
    border-bottom: 3px solid #424530;
    border-right: 3px solid #424530;
}

.login {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 1.88vw;
    text-decoration: none;
    color: #424530;
    margin-right: 5vw;
    margin-top: -1.6vw;
}

.logo a {
    position: absolute;
    z-index: 1;
    top: 3.5vw;
    left: 15.05vw;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 2.08vw;
    line-height: 2.45vw;
    color: #424530;
    text-decoration: none;
}

.logo img {
    position: absolute;
    top: 2.92vw;
    left: 19.5vw;
    width: 5.89vw;
    height: 3.65vw;
}

.url a {
    margin-top: -2vw;
    color: #424530;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8vw;
}

.Url_center {
    padding-left: 1.82vw;
    padding-right: 1.82vw;
}

.url {
    margin-top: -1.6vw;
    margin-left: 10vw;
}

/**/


.section1 {
    height: auto;
}

.sec1_h1 {
    margin-top: 10vw;
    margin-left: 36vw;
    width: 26vw;
    height: 4vw;
}

.sec1_h1 h1 {
    font-size: 3.6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #424530;
}

.flex_komnata {
    margin-top: 3vw;
    margin-left: 10vw;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.komnata {
    border-radius: 0 0 4vw 0;
    margin-top: 4vw;
    border: 3px solid #424530;
    border-left: none;
    border-top: none;
    height: 12vw;
    width: 80vw;
}

.komnata_img {
    width: 12vw;
    height: 12vw;
}

.komnata_img img {
    object-fit: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 3vw 0 0 0;
}

.komnata_nazvanie {
    width: 26vw;
    margin-left: 14vw;
    margin-top: -11vw;
}

.komnata_nazvanie a {
    width: 26vw;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8vw;
    color: #424530;
    border-bottom: 2px solid #424530;
}

.komnata_opisanie {
    margin-top: 2vw;
    margin-left: 14.2vw;
    width: 32vw;
    height: 6vw;
}

.komnata_opisanie p {
    width: 32vw;
    height: 4vw;
    font-size: 1.3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #424530;
    overflow: hidden;
    text-overflow: ellipsis;
}

.komnata_posmotreti {
    width: 12vw;
    height: 3vw;
    margin-left: 50vw;
    margin-top: -12vw;
}

.komnata_posmotreti a {
    width: 12vw;
    height: 3vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    color: #424530;
    border-bottom: 2px solid #424530;
}

.komnata_v_obrabotke {
    width: 12vw;
    height: 3vw;
    margin-left: 64vw;
    margin-top: -3vw;
}

.komnata_v_obrabotke a {
    width: 12vw;
    height: 3vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    color: #424530;
}

.komnata_otpavit {
    width: 11vw;
    height: 3vw;
    margin-left: 50vw;
    margin-top: 1.5vw;
}

.komnata_otpavit a {
    width: 11vw;
    height: 3vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    color: #5A670A;
    border-bottom: 2px solid #5A670A;
}

.komnata_otkaz {
    width: 11vw;
    height: 3vw;
    margin-left: 64.2vw;
    margin-top: -3vw;
}

.komnata_otkaz a {
    width: 11vw;
    height: 3vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    color: #8B0000;
    border-bottom: 2px solid #8B0000;
}


/*Footer*/

footer {
    margin-top: 20.125vw;
    height: 19.90vw;
    background: #424530;
}

.footer_up {
    position: absolute;
    width: 31.51vw;
    height: 1.51vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.51vw;
    display: flex;
    justify-content: space-between;

    margin-top: 4.01vw;
    margin-left: 9.32vw;
}

.footer_up a {
    text-decoration: none;
    color: #E2D1C1;
}

.footer_down {
    display: flex;
    justify-content: space-between;

    position: absolute;
    margin-top: 9.58vw;
    margin-left: 9.32vw;

    width: 81.56vw;
    height: 6.77vw;
}

.footer_down_img {
    width: 15.94vw;
    height: 6.51vw;
}

.footer_center_img img {
    width: 2.29vw;
    height: 2.29vw;
}

.Copyright {
    margin-top: 2.50vw;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.04vw;

    color: #E2D1C1;
}

.footer_right {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.51vw;
    width: 19.79vw;
    height: 4.01vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer_right a {
    text-decoration: none;
    color: #E2D1C1;
}

.footer_center_div_img {
    display: flex;
    justify-content: space-between;

    margin-left: 4.06vw;
    width: 9.64vw;
    height: 2.29vw;
}

/**/
